# open terminal root:
# + cp .env.example .env.development
# + cp .env.example .env.production

# dev: http://localhost:8000 http://host.docker.internal:8001
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

# mỗi cá nhân có 1 thông tin github riêng
GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=nosecretnvminh
REVALIDATE_SECRET=nosecretnvminh

#SETUP thời gian hết hạn để refresh token
TOKEN_EXPIRE_NUMBER=30
TOKEN_EXPIRE_UNIT=seconds