# open terminal root:
# + cp .env.example .env.development
# + cp .env.example .env.production

# dev: http://localhost:8000 N' http://host.docker.internal:8001
NEXT_PUBLIC_BACKEND_URL=

NEXTAUTH_URL=
NEXTAUTH_SECRET=
REVALIDATE_SECRET=

GITHUB_ID=
GITHUB_SECRET=