# inbox fb.com/nvminh162 to get secret key project (.env + result.txt)
PORT=8000
MONGO_URL=

#SETUP ACCESS TOKEN
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_EXPIRE=1000d

JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_EXPIRE=1000d

#init sample data
SHOULD_INIT=true
INIT_PASSWORD=123456

#config mail
ENABLE_SEND_EMAIL_VERIFY=true
EMAIL_HOST=smtp.gmail.com
EMAIL_PREVIEW=false
EMAIL_AUTH_USER=
EMAIL_AUTH_PASS=

#config multer
FILE_SIZE=1000 #1000MB

#config license
ACTIVE_KEY=

# thêm thông tin ngày 12/4
DISABLED_MAC=true
