# inbox fb.com/nvminh162 to get secret key project (.env + result.txt)
PORT=
MONGO_URL=

#SETUP ACCESS TOKEN
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_EXPIRE=

JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_EXPIRE=

#init sample data
SHOULD_INIT=
INIT_PASSWORD=

#config mail
ENABLE_SEND_EMAIL_VERIFY=
EMAIL_HOST=
EMAIL_PREVIEW=
EMAIL_AUTH_USER=
EMAIL_AUTH_PASS=

#config multer #1000MB
FILE_SIZE=

#config license
ACTIVE_KEY=

DISABLED_MAC=
